@use 'sass:color';
@use '@/styles/scss/variables/colors' as ctColor;
@use '@/styles/scss/variables/breakPoints' as bp;

.ct_homepage {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);

  @media only screen and (min-width: bp.$kBreakPoint--sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: bp.$kBreakPoint--lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  width: auto;
  min-height: 120px;
  background-color: color.adjust(
    $color: ctColor.$kColorBackground--dashboard,
    $blackness: 8%
  );
  border-radius: 8px;

  &.big {
    grid-column: span 1;
  }
  &.med {
    grid-column: span 1;
  }

  @media only screen and (min-width: bp.$kBreakPoint--sm) {
    &.big {
      grid-row: span 1;
      grid-column: span 3;
    }
    &.med {
      grid-column: span 3;
    }
    &.sma {
      grid-column: span 1;
    }
  }
  @media only screen and (min-width: bp.$kBreakPoint--lg) {
    &.big {
      grid-row: span 2;
    }
    &.med {
      grid-column: span 3;
    }
    &.sma {
      grid-column: span 2;
    }
  }
}
