// Colors
// -----------------------------------------------------------
// Color palettes defined for use throughout the design system.

// CAUTION! If you want to change the value, or want to
// add more colors, please sync up in `./src/constants/
// theme/colors.constants.ts` too to prevent confusion.

$kColorPrimary--main: #1069b8;
$kColorPrimary--0: #e7f0f8;
$kColorPrimary--1: #afcde7;
$kColorPrimary--2: #609bd0;
$kColorPrimary--3: #0d5799;
$kColorPrimary--4: #0b467b;
$kColorPrimary--5: #08355c;

$kColorDanger--main: #ee5046;
$kColorDanger--0: #fff3f2;
$kColorDanger--1: #fcdcda;
$kColorDanger--2: #f8b9b5;
$kColorDanger--3: #f1736b;
$kColorDanger--4: #cd4239;
$kColorDanger--5: #ac342d;

$kColorNeutral--main: #31353b;
$kColorNeutral--0: #ffffff;
$kColorNeutral--1: #d6d7d8;
$kColorNeutral--2: #adaeb1;
$kColorNeutral--3: #838689;
$kColorNeutral--4: #272a2f;
$kColorNeutral--5: #141518;

$kColorBackground--dashboard: #f4f6fa;
